/* ====================================================== html, body 크기 및 기본 */
body {background-color: #000000;}
#mobile-container {
    width: 440px; min-width: 440px;
    margin: 0 auto; 
    position: relative;
    background-color: #fff;
}
/* ====================================================== header */
header {position: relative; z-index: 999;}
#black-line {
    width: 440px; height: 30px;
    background: #000; color: #fff;
    font-size: 0.813rem; 
    text-align: center;
    margin-bottom: 7px;
}
#black-line
#black-line .swiper-wrapper {}
#black-line .swiper-slide {line-height: 30px;}
.logo-bag-menu {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bag-menu #logo {width: 37px;}
.logo-bag-menu #logo img {width: 100%;}
.logo-bag-menu .basket-menu {height:20px;}
.logo-bag-menu .basket-menu a {}
.logo-bag-menu .basket-menu a:first-child {margin-right: 10px;}
.logo-bag-menu .basket-menu a img {height: 100%;}
.popup {display: none;}
.popup .search {}
.popup .search input {}
.popup .search input::placeholder {}
.popup .search button {}
.popup .search button img {}
.popup .user-nav {}
.popup .user-nav a {}
.popup .list {}
.popup .list h3 {}
.popup .list a {}
.popup .question {}
.popup .question a {}
.popup .company {}
.popup .company a {}
/* ====================================================== main + main 공통 */
main {padding-top: calc(100vh - 30px);}
section {margin-bottom: 83px;}
section .section-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}
section .sub-title {
    font-size: 0.875rem;
    margin-bottom: 20px;
    text-align: center;
}
.item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.item { 
    width: calc((410px - 20px) / 2);
    font-size: 0.875rem;
    text-align: center;
    display: flex; 
    flex-flow: column nowrap; 
    align-items: center;
}
.item .thumbnail-wish {position: relative;}
.item .thumbnail-wish .thumbnail {margin-bottom: 5px;}
.item .thumbnail-wish .thumbnail img {width: 100%;}
.item .thumbnail-wish .wish {
    position: absolute;
    top: 12px; right: 12px;
    width: 14px;
    opacity: 0; transition: opacity 0.15s;
}
.item .thumbnail-wish:hover .wish {opacity: 1;}
.item .thumbnail-wish .wish img {width: 100%;}
.item .item-name {
    line-height: 120%;
    color: #555;
    margin-bottom: 8px;
}
.item .item-price {font-weight: 600;}
.item .item-price em {font-weight: 800; margin-right: 8px;}
.item .colorchip {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 10px;
}
.item .colorchip > * {}
.item .colorchip button {
    width: 11px; height: 11px;
    border-radius: 50%;
}
/* .item .colorchip .chip1 {border: 1px solid #2D2D2D;} */
.see-all-btn {
    background-color: #000;
    border-radius: 3px;
    width: 90px; height: 26px;
    margin: 12px auto 0;
    display: block;
    text-align: center;
}
.see-all-btn a {
    color: #fff;
    font-size: 0.688rem;
    line-height: 26px;
}
/* ====================================================== hero bnr */
#hero {
    width: 440px; height: 100vh;
    background: url(../images/hero-bnr1.jpg) center no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    padding: 0 0 28px 37px;
    position: absolute; top: 0; left: 0; z-index: 1;
}
#hero .copyright {
    font-size: 1.625rem;
    line-height: 115%;
    font-weight: 700;
    color: #fff;
}
#hero .shop-now {
    background-color: rgba(0,0,0,0.3);
    width: 120px; height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0 20px;
}
#hero .shop-now a {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 800;
    margin-right: 15px;
}
#hero .shop-now img {width: 11px; transform: rotate(90deg);}
#hero .event-swiper {
    background-color: rgba(255,255,255,0.9);
    padding: 20px 0 20px 20px;
}
#hero .event-swiper h3 {font-weight: 900; margin-bottom: 10px;}
#hero .event-swiper #event {width: 100%; height: 261px;}
#hero .event-swiper #event .swiper-wrapper {}
#hero .event-swiper #event .swiper-wrapper .swiper-slide {}
#event .item {width: 200px;}
#event .item .thumbnail {display: block; width: 200px;}
#event .item .thumbnail img {width: 100%;}
#event .item .item-name {color: #555;}
#event .item .item-price {}
/* ====================================================== new */
#new {padding: 0 15px;}
#new .advertising {
    width: calc((410px - 20px) / 2);
    background-color: #2D2D2D;
    color: #fff;
    padding: 15px 15px;
    display: flex;
    flex-flow: column nowrap;
}
#new .advertising .ad-thumbnail {
    display: inline-block;
    width: 170px;
    margin-bottom: 12px;
    align-self: center;
}
#new .advertising .ad-thumbnail img {width: 100%;}
#new .advertising em {
    font-size: 0.875rem;
    font-weight: 800;
    color: #fff;
    align-self: start;
    margin-bottom: 8px;
}
#new .advertising span {
    font-size: 0.75rem;
    line-height: 125%;
    align-self: start;
}
#new .advertising .arrow {
    display: block;
    width: 14px;
    transform: rotate(90deg);
    align-self:end;
}
#new .advertising .arrow img {width: 100%;}
#new .item1 .chip1 {background-color: #F5ECE0;}
#new .item1 .chip2 {background-color: #E31E16;}
#new .item1 .chip3 {background-color: #87D7EA;}
#new .item2 .chip1 {background-color: #CAB5AF;}
#new .item3 .chip1 {background-color: #DFDBCE;}
#new .item3 .chip2 {background-color: #43959A;}
#new .item3 .chip3 {background-color: #F3AA50;}
#new .item3 .chip4 {background-color: #102338;}
/* ====================================================== best */
#best {padding: 0 15px;}
#best .item1 .chip1 {background-color: #000;}
#best .item2 .chip1 {background-color: #29ccc4;}
#best .item3 .chip1 {background-color: #aff5b8;}
#best .item4 .chip1 {background-color: #E31E16;}
/* ====================================================== collections */
#collections {}
#collections .section-title {margin-bottom: 11px;}
#collections .collection-box {
    height: 247px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#collections .collection-box .collection-img {}
#collections .collection-box .collection-img a {}
#collections .collection-box .collection-img a img {width: 100%;}
#collections .collection-box .collection-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
    position: absolute; top: 0; left: 0;
}
#collections .collection-box .collection-tab button {
    background-color: #000;
    color: #fff;
    padding: 7px 0; width: 66px;
    border-radius: 3px;
    font-size: 0.75rem;
}
/* ====================================================== promotion */
#promotion {}
#promotion #promotion-slide {
    width: 440px; height: 430px;
}
#promotion #promotion-slide .swiper-wrapper {transition-timing-function:linear;}
#promotion #promotion-slide .swiper-wrapper .swiper-slide {width: 310px;}
#promotion #promotion-slide .swiper-wrapper .swiper-slide img {width: 100%;}
#promotion #promotion-slide .swiper-wrapper .swiper-slide a {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}
/* ====================================================== challenge */
#challenge {padding: 0 15px;}
#challenge .section-title {margin-bottom: 11px;}
#challenge .ccc-thumbnail {
    text-align: center;
    position: relative;
}
#challenge .ccc-thumbnail img {width: 100%;}
#challenge .ccc-thumbnail .detail-title {
    color: #fff;
    font-weight: 600;
    position: absolute; bottom: 40px;
    left: 50%; transform: translateX(-50%);
}
#challenge .item-slide {position: relative;}
#challenge .item-slide .swiper-wrapper {}
#challenge .item-slide .swiper-wrapper .swiper-slide {}
#challenge .item-slide .swiper-wrapper .item .thumbnail {
    display: block;
    width: 200px;
}
#challenge .item-slide .swiper-wrapper .item .thumbnail img {width: 100%;}
#challenge .item-slide .slide-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#challenge .item-slide .slide-btn button {width: 12px;}
#challenge .item-slide .slide-btn button img {width: 100%;}
/* ====================================================== lookbook */
#lookbook {text-align: center}
#lookbook .copyright-title {
    font-weight: 800;
    margin-bottom: 33px;
}
#lookbook .image-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#lookbook .image-wrap .lookbook-img {width: 140px;}
#lookbook .image-wrap .lookbook-img:nth-child(1),
#lookbook .image-wrap .lookbook-img:nth-child(2),
#lookbook .image-wrap .lookbook-img:nth-child(3) {margin-bottom: 10px;}
/* ====================================================== support */
#support {
    padding: 0 15px;
    text-align: center;
}
#support a {
    display: block;
    width: 100%; height: 176px;
    border-radius: 8px;
    line-height: 296px;
}
#support .care {
    background: url(../images/catalina.jpg) center no-repeat;
    margin-bottom: 23px;
}
#support .offline-store {
    background: url(../images/catalina.jpg) center no-repeat;
}
/* ====================================================== footer */
footer {
    background-color: #F5F5F5;
    border-top: 1px solid #EFEFEF; 
    padding: 35px 37px;
}
footer .cs-center {margin-bottom: 19px;}
footer .cs-center h2 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 6px;
}
footer .cs-center h2 span {
    font-size: 0.688rem;
    font-weight: normal;
}
footer .cs-center p {font-size: 0.688rem;}
footer .terms-wrap {font-size: 0.688rem;}
footer .terms-wrap .terms {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
footer .terms-wrap .terms a {color: #464646;}
footer .terms-wrap .legal {color: #929292; line-height: 132%;}