/* ====================================================== html, body 크기 및 기본 */
body {background-color: #2D2D2D;}
#mobile-container {
    width: 100%; min-width: 370px; max-width: 440px;
    margin: 0 auto; overflow: hidden;
    position: relative;
    background-color: #fff;
}
/* ====================================================== header */
header {position: relative; z-index: 1000;}
#black-line {
    height: 30px;
    background: #000; color: #fff;
    font-size: 0.813rem; text-align: center;
    margin-bottom: 15px;
}
#black-line
#black-line .swiper-wrapper {}
#black-line .swiper-slide {line-height: 30px;}
.logo-cart-menu {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.logo-cart-menu #logo {width: 50px;}
.logo-cart-menu #logo img {width: 100%;}
.logo-cart-menu .cart-menu {}
.logo-cart-menu .cart-menu a {display: inline-block;}
.logo-cart-menu .cart-menu .cart {margin-right: 10px; height: 20px;}
.logo-cart-menu .cart-menu .menu {height: 19px;}
.logo-cart-menu .cart-menu a img {height: 100%;}
.popup {
    position: absolute; top: 30px; left: 0;
    background-color: #fff;
    width: 100%; height: 100vh;
    display: none;
}
.popup .back-btn {width: 10px; margin: 20px 20px;}
.popup .back-btn img {width: 100%; transform: rotate(-90deg);}
.popup .search-bar {padding: 0 30px 30px;}
.popup .search {
    width: 100%;
    background-color: #F4F4F4;
    border: 1px solid #e2e2e2;
    border-radius: 100px;
    display: flex; justify-content: space-between;
    padding: 10px 24px;
}
.popup .search input {
    background: transparent;
    font-size: 0.813rem;
    width: 100%; padding-right: 24px;
}
.popup .search input::placeholder {font-size: 0.813rem; color: #b4b4b4;}
.popup .search button {width: 14px;}
.popup .search button img {width: 100%;}
.popup .padding-box {padding: 0 54px;}
.popup .user-nav {display: flex; gap: 24px;}
.popup .user-nav a {
    font-size: 0.75rem;
    font-weight: 600;
}
.popup .list {
    display: flex; flex-direction: column; gap: 15px;
    margin-top: 50px;
}
.popup .list h3 {font-size: 1.25rem; font-weight: 800; color: #b4b4b4;}
.popup .list a {font-size: 0.75rem; font-weight: 600;}
.popup .shop {margin-top: 50px;}
.popup .magazine {}
.popup .question {display: flex; flex-direction: column; gap: 7px;}
.popup .company {display: flex; flex-direction: column; gap: 7px; margin-top: 20px;}
.popup .question a {font-weight: 600;}
.popup .company a {color: #929292;}
/* ====================================================== main + main 공통 */
main {padding-top: calc(100vh - 30px);}
section {margin-bottom: 90px;}
section .section-top {
    width: 100%;
    display: flex; justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 20px;
}
section .section-title {font-size: 1.125rem; font-weight: 800; letter-spacing: -0.02em;}
section .sub-title {font-size: 0.813rem; margin-bottom:20px;}
section .see-all-btn {margin-right: 10px;}
section .see-all-btn a {font-size: 0.75rem; font-weight: 500;}
section .see-all-btn a img {width: 10px; margin-left: 5px;}
.item-wrap {}
.item { 
    width: 170px; text-align: center;
    display: flex; flex-flow: column nowrap; align-items: center;
}
.item .top {margin-bottom: 20px;}
.item .bottom {}
.item .thumbnail-wish {position: relative;}
.item .thumbnail {width: 170px;}
.item .thumbnail img {display: block; width: 100%;}
.item .wish {
    position: absolute;
    top: 12px; right: 12px;
    width: 14px;
    opacity: 0; transition: opacity 0.15s;
}
.item .thumbnail-wish:hover .wish {opacity: 1;}
.item .thumbnail-wish .wish img {display: block; width: 100%; object-fit: cover;}
.item .item-name {
    font-size: 0.75rem;
    line-height: 135%;
    color: #272727;
    margin-bottom:8px;
}
.item .item-price {
    font-size: 0.813rem;
    font-weight: 700;
}
.item .item-price em {font-weight: 800; margin-right: 8px; color: #E63946;}
/* ====================================================== hero bnr */
#hero {
    width: 440px; height: 100vh;
    background: url(../images/hero-bnr.jpg) center no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    padding-left: 20px; padding-bottom: 35px;
    position: absolute; top: 0; left: 0; z-index: 1;
}
#hero .copyright {
    font-size: 1.625rem;
    line-height: 115%;
    font-weight: 700;
    color: #fff;
}
#hero .shop-now {
    background-color: rgba(0,0,0,0.5);
    padding: 9px 12px;
    width: 110px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#hero .shop-now a {
    color: #fff; font-size: 0.75rem; font-weight: 800;
}
#hero .event-swiper {
    background-color: rgba(255,255,255,0.9);
    padding: 20px 0 28px 20px;
}
#hero .event-swiper h3 {font-weight: 900; margin-bottom: 10px;}
#hero .event-swiper #event {width: 100%; height: auto;}
#hero .event-swiper #event .swiper-wrapper {}
#hero .event-swiper #event .swiper-wrapper .swiper-slide {}
/* ====================================================== new */
#new {}
#new .advertising {
    display: block; width: 100%; height: 120px;
    background: url(../images/new-bnr.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}
#new .advertising span {
    display: inline-block;
    font-size: 0.813rem; font-weight: 500;
    line-height: 140%;
    padding: 20px; color: #fff;
    position: absolute; bottom: 0; left: 0; z-index: 2;
}
#new .advertising span em {
    font-size: 0.875rem; font-weight: 800;
    display:inline-block; margin-bottom: 4px;
}
#new .thumbnail {display: block; width: 140px;}
/* ====================================================== best */
#best {}
#best .item-name {margin-top: 8px;}
/* ====================================================== collections */
#collections {}
#collections .section-title {margin: 0 0 4px 20px;}
#collections .sub-title {margin-left:20px;}
#collections .collection-box {position: relative; width: 440px; height: 247px;}
#collections .collection-box .collection-img {z-index: 2;}
#collections .collection-box .collection-img a {display: block; width: 440px; height: 247px;}
#collections .collection-box .collection-img a img {width: 100%;}
#collections .collection-box .collection-tab {
    width: 100%; height: 100%;
    display: flex; flex-direction: row; justify-content: center;
    align-items: flex-end; gap: 10px;
    position: absolute; bottom: -3px; left: 0;
    padding-bottom: 20px;
    z-index: 1;
    pointer-events: none; /* img 클릭 방해 요소 제거 */
}
#collections .collection-box .collection-tab button {
    background-color: rgba(0, 0, 0, 0.5); color: #fff;
    padding: 6px 0; width: 60px; border-radius: 3px;
    font-size: 0.75rem; font-weight: 600;
    pointer-events: auto; /* img 클릭 방해 요소 제거 */
}
#collections .collection-box .collection-tab button:hover {background-color: rgba(255,255,255,0.9); color: #000;}
/* ====================================================== promotion */
#promotion {}
#promotion .section-title {margin: 0 0 20px 20px;}
#promotion #promotion-slide {width: 440px; height: 430px;}
#promotion #promotion-slide .swiper-wrapper {transition-timing-function:linear;}
#promotion #promotion-slide .swiper-slide {width: 310px; height: 430px;}
#promotion .swiper-slide a {
    display: block; width: 310px; height: 430px;
    background-size: cover;
    padding: 20px 15px;
}
#promotion .swiper-slide a span {
    font-weight: 700; font-size: 1rem;
    color: #fff; white-space: nowrap;
    display: flex; justify-content: end;  align-items: center; gap: 8px;
    position: absolute; right: 20px; bottom: 20px;
}
#promotion .swiper-slide a span img {width: 8px; height: auto;}
#promotion .specialday a {background-image: url(../images/prm-specialday.jpg);}
#promotion .pet a {background-image: url(../images/prm-pet.jpg);}
#promotion .gift a {background-image: url(../images/prm-gift.jpg);}
#promotion .grinday a {background-image: url(../images/prm-grinday.jpg);}
#promotion .specialday a span {}
#promotion .pet a span {}
#promotion .gift a span {}
#promotion .grinday a span {}
/* ====================================================== challenge */
#challenge {padding: 0 20px;}
#challenge .section-title {margin-bottom: 4px;}
#challenge .ccc-thumbnail {text-align: center; margin-bottom: 10px;}
#challenge .ccc-thumbnail img {width: 100%; margin-bottom: 20px;}
#challenge .ccc-thumbnail .detail-title {
    font-weight: 700; font-size: 0.875rem;
    white-space:nowrap;
}
#challenge .item-slide {}
#challenge .item-slide .swiper-wrapper {}
#challenge .item-slide .swiper-wrapper .swiper-slide {}
#challenge .item-slide .swiper-wrapper .item .thumbnail {display: block; width: 170px;}
#challenge .item-slide .swiper-wrapper .item .thumbnail img {width: 100%;}
#challenge .item-slide .slide-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute; 
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#challenge .item-slide .slide-btn button {width: 12px;}
#challenge .item-slide .slide-btn button img {width: 100%;}
/* ====================================================== sns */
#sns {text-align: center;}
#sns .copyright-title {
    font-weight: 800;
    margin-bottom: 30px;
}
#sns .image-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#sns .image-wrap a {display: block; width: 140px;}
#sns .image-wrap a img {width: 100%;}
#sns p {
    font-size: 0.75rem; font-weight: 600;
    margin-top: 20px;
}
#sns .image-wrap a:nth-child(1),
#sns .image-wrap a:nth-child(2),
#sns .image-wrap a:nth-child(3) {margin-bottom: 8px;}
/* ====================================================== support */
#info {
    padding: 0 20px;
    text-align: center;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#info a {
    display: block;
    width: 195px;
    font-size: 0.813rem;
    font-weight: 700;
}
#info a img {width: 100%; margin-bottom: 8px;}
/* ====================================================== footer */
footer {
    background-color: #F5F5F5;
    border-top: 1px solid #EFEFEF; 
    padding: 35px 37px;
}
footer .cs-center {margin-bottom: 19px;}
footer .cs-center h2 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 6px;
}
footer .cs-center h2 span {
    font-size: 0.688rem;
    font-weight: normal;
}
footer .cs-center p {font-size: 0.688rem;}
footer .terms-wrap {font-size: 0.688rem;}
footer .terms-wrap .terms {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
footer .terms-wrap .terms a {color: #464646; font-weight: 600;}
footer .terms-wrap .legal {color: #929292; line-height: 135%;}